{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

{% block content %}
<section>
    <div class="container">
        <div class="row align-items-center" style="text-align:center;justify-content:center;">
            <div class="p-5">
            <h2 class="display-4">For those about to rock...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>
    </section>
<div class = "container" style="background:rgb(211, 208, 208)">
    <div style="margin-top: 30px; margin-bottom: 30px;">       
        <!-- Business Pitches -->
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                <h4>Business Pitches</h4>
                <p class = "cardbody" style="font-size: 14px">Best Business Pitches</p>
                <!-- <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.business')}}">View Pitches</a></button> -->
                <a href="{{url_for('main.business')}}" class="btn btn-primary center-block" role="button">View Pitches</a> 
                </div>
            </div>
        </div>

        <!-- Software Pitches -->
       <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                <h4>Software Pitches</h4>
                <p style="font-size: 14px">Best Software Pitches</p>
                <a href="{{url_for('main.software')}}" class="btn btn btn-primary center-block" role="button">View Pitches</a>
                </div>
            </div>
        </div>        
    </div>

</div>
{% endblock%}